@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
	text-align: center;
	background: url("cover_image.jpg");
	background-size: cover;
	font-family:"Courier New";
	background-color: #000;
	color: #fff;
}


img{
	display: inline-block;
}

hr{
	width: 600px;
}

#slogan {
	font-size: 22px;
	font-style: italic;
	padding: 0;
	color: #fff;
	font-family: Arial;
	background-color: #FFED74;
}

h1	{
	font-weight: bold;
	font-size: 80px;
	font-family: 'Shadows Into Light', cursive;
	background-color: rgba(255, 237, 116, 0.2);
}

<!--h2{
	
	color: #fff;
}-->

<!--#AboutMe {
	width: 36em;
	color: #000;
	display: inline-block; 
	vertical-align: middle;
}-->
ul {
	color: #fff;
	list-style-type: none;
	font-weight: bolder;
	<!--margin: 10px;-->
	<!--padding: 10px;-->
	font-size: 20px;
}
li {

	display: inline;
	<!--border: 15px;-->
	margin: 15px;
	padding: 20px;
	<!--border-style: double;-->
	font-weight: bolder;
	color: #9C435B;
	background-color: rgba(232, 198, 106, 0.2);
	font-size: 18px;
}
div{

	max-width: 700px;
	margin: 0;
	<!--padding: 10px;-->
	margin-left: 500px;
	background-color: #FFE2B8;

}
aside {
	display: inline;
	margin-left: 1200px;
	text-align: left;
	padding-top: 20px 1200px;
	color: #fff;
}

footer {
	background-color: #FF957E;
	color: #fff;
}

#two_column {
	background-color: rgba(103, 87, 163, 0.2);
	border: 1px black solid;
	padding: 20px;
}

#About {
	background-color: rgba(82, 82, 82, 0.5);
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 48%;
}
 #Why {
 	background-color: rgba(82, 82, 82, 0.5);
    border: 1px black solid;
    padding: 10px;
    float: right;   
    width: 48%;
 }

 .clearfix:after {
 	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }