@import url(https://fonts.googleapis.com/css?family=Chewy);

body{
	background-color: #9F6365;	
	color: #fff;
	font-family: Arial, serif;
	margin: auto;
}

h1{
	font-family: 'Chewy', cursive;
}

img{
	margin: auto;
}
#wrapper {
	border-style: double;
}
.segment {
	font-family: 'Chewy', cursive;
	font-weight: lighter;
	float: left;
}

#about {
	font-style: italic;
}

#life {
	background: #46221E;
	border: 2px gray solid;
	padding: 100px;
	width: 60px;
	margin: 10px;
	align-self: center;
}
#travel {
	background: #46221E;
	border: 2px gray solid;
	padding: 100px;
	width: 60px;
	margin: 10px;
	align-self: center;
}
#random {
	background: #46221E;
	border: 2px gray solid;
	padding: 100px;
	width: 60px;
	margin: 10px;
	align-self: center;
}
.clearfix:after {
    visibility: hidden;
    display: inline;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}