@import url(https://fonts.googleapis.com/css?family=Chewy);

body{
	background-color: #000;	
	color: #fff;
	font-family: Arial, serif;
	margin: auto;
}

h1{
	font-family: 'Chewy', cursive;
}

img{
	margin: auto;
}
#wrapper {
	background-color: #9F6365;
	margin: auto;
}
.segment {
	font-family: 'Chewy', cursive;
	font-weight: lighter;
}

#about {
	font-style: italic;
}

#life {
	background: #46221E;
	border: 2px gray solid;
	padding: 10px;
	float: left;
	width: 30px;
	margin: 5px;
}
#travel {
	background: #46221E;
	border: 2px gray solid;
	padding: 10px;
	float: left;
	width: 30px;
	margin: 5px;
}
#randon {
	background: #46221E;
	border: 2px gray solid;
	padding: 10px;
	float: left;
	width: 30px;
	margin: 5px;
}