@import url(https://fonts.googleapis.com/css?family=Chewy);

body{
	background-color: #000;	
	color: #fff;
	font-family: Arial, serif;
}

#Intro{
	font-family: 'Chewy', cursive;
}

h1{
	font-family: 'Chewy', cursive;
}
