@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
	text-align: center;
	<!--background: url("cover_image.jpg");-->
	background-size: cover;
	font-family:"Courier New";
	background-color: #000;
	color: #fff;
}

hr {
	width: 800px;
}

#slogan {
	font-size: 20px;
	font-style: italic;
	padding: 0;
}

h1	{
	font-weight: bold;
	font-size: 80px;
	font-family: 'Shadows Into Light', cursive;
}

h2{
	font-family: Arial;
}

#AboutMe {
	width: 36em;
	color: #fff;
	display: inline-block; 
	vertical-align: middle;
}
ul {
	color: #fff;
	list-style-type: none;
	font-weight: bolder;
	margin: 0;
	padding: 0;
}
li {

	display: inline;
	width: 60px;
	border-style: solid;
	background-color: : #fff;
	color: #000;
}
div{

	max-width: 700px;
	margin: 0;
	padding: 10px;
}