@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
	text-align: center;
	<!--background: url("cover_image.jpg");-->
	background-size: cover;
	font-family:"Courier New";
	background-color: #000;
	color: #000;
}


img{
	display: inline-block;
}

hr{
	width: 600px;
}

#slogan {
	font-size: 22px;
	font-style: italic;
	padding: 0;
}

h1	{
	font-weight: bold;
	font-size: 80px;
	font-family: 'Shadows Into Light', cursive;
	background-color: #FFED74;
}

h2{
	font-family: Arial;
	background-color: #FFED74;
}

#AboutMe {
	width: 36em;
	color: #000;
	display: inline-block; 
	vertical-align: middle;
}
ul {
	color: #fff;
	list-style-type: none;
	font-weight: bolder;
	<!--margin: 10px;-->
	<!--padding: 10px;-->
	font-size: 20px;
}
li {

	display: inline;
	<!--border: 15px;-->
	margin: 15px;
	padding: 20px;
	<!--border-style: double;-->
	font-weight: bolder;
	color: #9C435B;
	background-color: #E8C66A
	font-size: 18px;
}
div{

	max-width: 700px;
	margin: 0;
	<!--padding: 10px;-->
	margin-left: 500px;
	background-color: #FFE2B8;

}
aside {
	display: inline;
	margin-left: 1200px;
	text-align: left;
	padding-top: 20px 1200px;
	color: #fff;
}
