body {
	text-align: center;
	font-family:"Courier New";
	background-size: cover;
	background-color: #6757A3;
	background-image: url("hero_image.jpg");
	color: #fff;
}

hr {
	width: 800px;
	font-size: 24px;
}
#slogan {
	font-size: 18px;
	font-style: italic;
}
h1	{
	font-weight: bold;
	font-size: 30px;
}
#one {
	background-color: #000000;
	font-style: bold;

}
#two {
	background-color: #ffffff;
	font-style: bold;
}
#three {
	background-color: #000000;
	font-style: bold;
}
