body {
	text-align: center;
	font-family:"Courier New";
	background-size: cover;
	background-color: #6757A3;
	background-image: url("cover_image.jpg");
	color: #fff;
}

hr {
	width: 800px;
	font-size: 20px;
}
#slogan {
	font-size: 18px;
	font-style: italic;
}
h1	{
	font-weight: bold;
	font-size: 80px;
}
ul {
	color: #000;
	list-style-type: none;
}