body {
	text-align: center;
	background: url("cover_image.jpg");
	background-size: cover;
	font-family:"Courier New";
	background-color: #6757A3;
	color: #fff;
}

hr {
	width: 600px;
}

#slogan {
	font-size: 18px;
	font-style: italic;
}

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
h1	{
	font-weight: bold;
	font-size: 80px;
	font-family: 'Indie Flower', cursive;
}
ul {
	color: #fff;
	list-style-type: none;
	font-weight: bolder;
}
